/serv/serv
/serv/pkg/*
/serv/bin/*
*.pyc
/certgen/certgen

/bin/*
/pkg/*
/src/gopkg.in/*
/src/sourcegraph.com/*
/src/github.com/alecthomas/*
/src/github.com/derekparker/*
/src/github.com/nicksnyder/*
/src/github.com/nsf/*
/src/github.com/rogpeppe/*
/src/github.com/sqs/*
/src/github.com/zmb3/*
/src/github.com/fatih/*

/src/golang.org/x/tools/cmd/*

/dev.db
/.c63149d8a7f0acb73d1781c54e119901572790e3
/.43335b018c524d967858b3f3f05825f1f13e5e92

/ql
/maintenance-tool

*.pyc
