{{define "BooleanEnabledDisabledRender"}}
{{if .}}
<span class="badge badge-success">enabled</span>
{{else}}
<span class="badge badge-default">disabled</span>
{{end}}
{{end}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subshard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
    .tight-element {
      display: block;
    }
    .tight-element:last-child {
      display: inline-block;
    }
    </style>
  </head>

  <body>
    <div class="container">

      <h1>Subshard</h1>

      <div class="row">
        <p class="lead" style="margin-top:14px; width: 60%;">
          If you are reading this, subshard is configured correctly.
        </p>
        <div class="pull-xs-right">
          <a href="http://subshard.onion/" class="btn btn-outline-warning" role="button" aria-disabled="true">Test Subshard Guard</a>
          <a href="/test" class="btn btn-outline-info" role="button" aria-disabled="true">See request info</a>
        </div>
      </div>


      <div class="row" style="margin-top:2em;">

        <div class="col">
          <h3>Sharding rules</h3>
          <div class="config table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Rules</th>
                  <th>Destination</th>
                  <th>Heath</th>
                </tr>
              </thead>
              <tbody>
                {{range .Configuration.Forwarders}}
                <tr>
                  <td>{{.Name}}</td>
                  <td>
                    {{range $index, $element := .Rules}}
                      <span class="tight-element">{{$element.Value}}
                        {{if eq .Type `host-regexp`}}<span class="badge badge-primary">Host pattern</span>{{end}}
                        {{if eq .Type `host`}}<span class="badge badge-primary">Host</span>{{end}}
                        {{if eq .Type `prefix`}}<span class="badge badge-info">URL prefix</span>{{end}}
                        {{if eq .Type `regexp`}}<span class="badge badge-info">URL pattern</span>{{end}}
                      </span>
                    {{end}}
                  </td>
                  <td>{{.Destination}}</td>
                  <td><span class="badge badge-default">unknown</span></td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>

          <h3>Blackhole rules</h3>
          <div class="config table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Rule</th>
                  <th>Match class</th>
                  <th style="max-width: 250px;">Status</th>
                </tr>
              </thead>
              <tbody>
                {{range .Blacklist}}
                <tr>
                  <td>{{.Value}}</td>
                  <td><span class="badge badge-info">{{.Type}}</span></td>
                  <td style="max-width: 250px;">
                    {{if .ParseError}}
                    <span class="badge badge-danger">Error</span> {{.ParseError.Error}}
                    {{else}}
                    <span class="badge badge-success">OK</span>
                    {{end}}
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-4">
          <h3>Configuration</h3>
          <div class="config table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>Listener</td>
                  <td>{{.Configuration.Listener}}</td>
                </tr>
                <tr>
                  <td>Encryption<br /> (TLS)</td>
                  <td>
                    {{if .Configuration.TLS.Enabled}}
                    <span class="badge badge-success">Enabled</span>
                    {{else}}
                    <span class="badge badge-warning">Disabled</span>
                    <p>
                      WARNING: traffic goes in the clear!
                    </p>
                    {{end}}
                    {{if .TLS}}
                    <p>
                      {{len .TLS.Certificates}} certificate{{if len .TLS.Certificates | ne 1}}s{{end}} loaded.
                      <br />
                      Servers: <i>{{.TLSInfo.Servers}}</i>
                    </p>
                    {{end}}
                  </td>
                </tr>
                <tr>
                  <td>Auth</td>
                  <td>
                    {{if .Configuration.AuthRequired}}
                    <span class="badge badge-success">Passwords required</span>
                    {{else}}
                    <span class="badge badge-warning">Passwords disabled</span>
                    {{end}}
                    <p>
                      {{len .Configuration.Users}} user{{if len .Configuration.Users | ne 1}}s{{end}}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>Debug logging</td>
                  <td>{{template "BooleanEnabledDisabledRender" .Configuration.Verbose}}</td>
                </tr>
                <tr>
                  <td>Reloads</td>
                  <td>{{.ReloadCount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
