{{define "BooleanEnabledDisabledRender"}}
{{if .}}
<span class="badge badge-success">enabled</span>
{{else}}
<span class="badge badge-default">disabled</span>
{{end}}
{{end}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subshard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
    .tight-element {
      display: block;
    }
    .tight-element:last-child {
      display: inline-block;
    }
    #heading {
      margin-bottom: 8px;
      margin-top: 7px;
      width: 64%;
      display: inline-block;
    }
    </style>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div id="heading">
        <h1><img src="/static/subshard.png" width="55"></img> Subshard</h1>
        <div style="position: absolute; top: 15px; right: 15px; text-align: right;">
          <a href="http://subshard.onion/" class="btn btn-outline-warning" role="button" aria-disabled="true">Test Subshard Guard</a>
          <a href="/test" class="btn btn-outline-info" role="button" aria-disabled="true">See request info</a>
        </div>
      </div>


      <div class="row">
        <p class="lead" style="margin-top:14px;">
          If you are reading this, subshard is configured correctly.
        </p>
      </div>

      <div class="row">
        <div class="col" style="margin-top:2em;">
          <h3 >Sharding rules</h3>
          <div class="config table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Rules</th>
                  <th>Destination</th>
                  <th>Heath</th>
                </tr>
              </thead>
              <tbody>
                {{range .Configuration.Forwarders}}
                <tr>
                  <td>{{.Name}}</td>
                  <td>
                    {{range $index, $element := .Rules}}
                      <span class="tight-element">{{$element.Value}}
                        {{if eq .Type `host-regexp`}}<span class="badge badge-primary">Host pattern</span>{{end}}
                        {{if eq .Type `host`}}<span class="badge badge-primary">Host</span>{{end}}
                        {{if eq .Type `prefix`}}<span class="badge badge-primary">URL prefix</span>{{end}}
                        {{if eq .Type `regexp`}}<span class="badge badge-primary">URL pattern</span>{{end}}
                      </span>
                    {{end}}
                  </td>
                  <td>{{.Destination}}</td>
                  <td style="width: 240px; height: 78px;">
                    {{if .Checker.Type}}
                      <span class="checker-region" id="{{.Name}}-checker">...</span><br />
                    {{else}}
                      <span class="badge badge-default">unknown</span>
                    {{end}}
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col">
          <h3>Blackhole rules</h3>
          <div class="config table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Rule</th>
                  <th>Match class</th>
                  <th style="max-width: 250px;">Status</th>
                </tr>
              </thead>
              <tbody>
                {{range .Blacklist}}
                <tr>
                  <td>{{.Value}}</td>
                  <td><span class="badge badge-info">{{.Type}}</span></td>
                  <td style="min-width: 210px;">
                    {{if .ParseError}}
                    <span class="badge badge-danger">Error</span> {{.ParseError.Error}}
                    {{else}}
                    <span class="badge badge-success">OK</span>
                    {{end}}
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-4">
          <h3>Configuration</h3>
          <div class="config table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>Version</td>
                  <td>{{.Configuration.Version}}</td>
                </tr>
                <tr>
                  <td>Listener</td>
                  <td>{{.Configuration.Listener}}</td>
                </tr>
                <tr>
                  <td>Encryption<br /> (TLS)</td>
                  <td>
                    {{if .Configuration.TLS.Enabled}}
                    <span class="badge badge-success">Enabled</span>
                    {{else}}
                    <span class="badge badge-warning">Disabled</span>
                    <p>
                      WARNING: traffic goes in the clear!
                    </p>
                    {{end}}
                    {{if .TLS}}
                    <p>
                      {{len .TLS.Certificates}} certificate{{if len .TLS.Certificates | ne 1}}s{{end}} loaded.
                      <br />
                      Servers: <i>{{.TLSInfo.Servers}}</i>
                    </p>
                    {{end}}
                  </td>
                </tr>
                <tr>
                  <td>Auth</td>
                  <td>
                    {{if .Configuration.AuthRequired}}
                    <span class="badge badge-success">Passwords required</span>
                    {{else}}
                    <span class="badge badge-warning">Passwords disabled</span>
                    {{end}}
                    <p>
                      {{len .Configuration.Users}} user{{if len .Configuration.Users | ne 1}}s{{end}}
                      {{if .CTX.UserData}}
                          <br />user={{.CTX.UserData.user}}
                          {{if .CTX.UserData.authkind}}<br />authkind={{.CTX.UserData.authkind}}{{end}}
                      {{end}}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>Debug logging</td>
                  <td>{{template "BooleanEnabledDisabledRender" .Configuration.Verbose}}</td>
                </tr>
                <tr>
                  <td>Reloads</td>
                  <td>{{.ReloadCount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <script>
      $(document).ready(function(){
        //console.log($(".checker-region"));
        $(".checker-region").each(function(index){
          var name = $(this).attr('id').slice(0, -8);
          //console.log(name);
          $.ajax({
            url: "/forwarder/status/" + name,
            context: this,
          }).done(function(data) {
            console.log(data);
            if (data.Ok) {
              var out = '<span class="badge badge-success">OK</span> ';
              if (data.Info.version){
                out += data.Info.version.split(' ')[0];
              }
              out += '<br/>';
              if (data.Info.latency){
                out += '<span class="badge badge-info">latency=' + data.Info.latency + 'ms</span> ';
              }
              if (data.Info.isDormant){
                out += '<span class="badge badge-success">Dormant</span> ';
              }
              if (data.Info.circuitsEstablished){
                out += '<span class="badge badge-info">Has circuits</span> ';
              }
              if (data.Info.enoughDirInfo){
                out += '<span class="badge badge-info">Directory bootstrapped</span> ';
              }
              $( this ).html( out );
            } else {
              var out = '<span class="badge badge-danger">ERR</span>';
              out += '<span>' + data.Err2 + '</span>';
              $( this ).html( out );
            }
          });
        });
      });
    </script>
  </body>
</html>
